@mixin flex($jc, $ai, $fd, $fw) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

.footerBlue {
  &__container {
    padding-top: 4rem;
    padding-bottom: 3.4063rem;
    padding-left: 6.25rem;
    background-color: #e6f1f5;
    @include flex(flex-start, stretch, row, nowrap);
  }

  &__text_block {
    @include flex(space-around, flex-start, column, wrap);
  }

  &__text {
    width: 32.3125rem;
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 300;
    color: #000000;

    &_paragraph {
      margin-bottom: 3.3125rem;
    }
  }

  &__photo {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__buttonWrapper {
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .footerBlue__container {
    padding-left: 0;
    padding-right: 20px;
  }
}

@media (max-width: 992px) {
  .footerBlue__text_paragraph {
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .footerBlue__container {
    padding: 0;
    @include flex(center, center, column, wrap);
  }

  .footerBlue__text_block {
    @include flex(center, center, column, wrap);
    width: 100%;
  }

  .footerBlue__text {
    margin-bottom: 20px;
  }

  .footerBlue__photo_wrapper {
    width: 60%;
  }

  .footerBlue__buttonWrapper {
    padding-bottom: 20px;
  }
}

@media (max-width: 576px) {
  .footerBlue__container {
    background-color: rgb(255, 255, 255);
  }

  .footerBlue__text {
    width: fit-content;
    font-size: 14px;
  }

  .footerBlue__text_block {
    padding-left: 10px;
    @include flex(center, center, column, wrap);
    width: 80%;
  }
}