.contactsContainer{
    padding: 3rem;
}

.contactsContent{
    margin: 0 auto;
    max-width: 50rem;
    display: flex;
    justify-content: space-between;
}

.contactsForm{
    width: 25rem;
}

.contactsTextField{
    margin-bottom: 15px;
    padding: 1.1875rem;
    width: 100%;
    height: 2.625rem;
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 0.875rem;
    color: #7E7A7A;
    outline-color:#E6F1F5;
}

.contactsTextArea{
    margin-bottom: 4.375rem;
    padding: 1rem;
    border-radius: 2%;
    width: 100%;
    height: 8.75rem;
    resize: none;
    outline-color:#E6F1F5;	
    font-family: 'OpenSans';
    font-weight: 300;
    font-size: 0.875rem;
    color: #7E7A7A;
}

.contactsError{
    margin-bottom: 0.9375rem;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1rem;
    color: rgba(255, 0, 0, 0.692);
}

.contactsLabel{
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.125rem;
    color: #000000;
}

.contactsLabelContainer{
    margin-bottom: 0.9375rem;
}

.contactsSubmitButton {
    width: 13rem;
    height: 3.0625rem;
    border-radius: 0.1875rem;
    border: none;
    background-color: #000000;
    cursor: pointer;
    font-family: "OpenSans";
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.contactsPara{
    margin-bottom: 1.375rem;
    font-family: 'Montserrat';
    font-weight: 300;
    font-size: 1.125rem;
    color: #000000;
}

.titleWrapper{
    margin-bottom: 2rem;
}

.contactsImageContainer{
    display: flex;
    justify-content: left;
    width: 25rem;
    height: 18.75rem;
}

.contactsImage{
    width: auto;
    height: 100%;
}

@media all and (max-width: 992px){
    .contactsSubmitButton{
        width: 100%;
    }
}

@media all and (max-width: 575px) {
    .contactsSubmitButton{
        margin: 0 auto;
        width: 50%;
        height: 6rem;
        font-size: 1rem;
    }
    .contactsContent{
        flex-direction: column;
        justify-content: center;
    }
    .contactsImageContainer{
        justify-content: center;
        width: 100%;
    }
    .contactsPara{
        font-size: 1.85rem;
        text-align: center;
    }
    .contactsForm{
        width: 100%;
    }
    .contactsTextField,
    .contactsTextArea,
    .contactsSubmitButton{
        font-size: 1.85rem;
    }
    .contactsTextField{
        height: 4rem;
    }
    .contactsLabelContainer{
        margin-top: 1rem;
        display: flex;
        justify-content: center;
    }
    .contactsLabel{
        font-size: 2.5rem;
    }
  }