@mixin flex($jc, $ai, $fd, $fw) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
    flex-wrap: $fw;
}

.teachersTitle {
    margin-left: 19.9375rem;
}

.teachersTitle .mainSubtitle {
    text-align: left;
}

.teachersRow {
    @include flex(space-around, center, row, wrap);
    padding: 5.1875rem 7.3125rem;
}
