.letsStart {
    &__wrapper {
        padding-left: 2.3125rem;
        padding-right: 2.3125rem;
    }

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }

    &__card {
        width: 25%;
        position: relative;
    }

    &__number {
        font-family: 'OpenSans';
        font-weight: 800;
        font-size: 9.375rem;
        color: #bdd9e4;
        padding-left: 2.5rem;
        position: absolute;
    }

    &__img {
        max-width: 100%;
        max-height: 100%;
    }

    &__icon {
        width: 100%;
        position: relative;
        height: 15.625rem;
        text-align: center;
        margin-top: 6.875rem;
    }

    &__text {
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 1.125rem;
        font-weight: 300;
        line-height: 1.4;
        padding-left: 1.25rem;
    }
}

@media all and (max-width: 768px) {
    .letsStart__container {
      flex-wrap: wrap;
    }
    .letsStart__card {
      width: 50%;
    }
    .letsStart__number {
      font-size: 7.5rem;
    }
    .letsStart__icon {
      width: 100%;
      position: relative;
      height: 12.625rem;
      margin-top: 2.5rem;
    }
    .letsStart__text {
      font-size: 1.5rem;
    }
  }
  
  @media all and (max-width: 576px) {
    .letsStart__number {
      font-size: 5.5rem;
      padding-left: 0.5rem;
    }
    .letsStart__icon {
      width: 100%;
      position: relative;
      height: 12.625rem;
      margin-top: 2.5rem;
    }
    .letsStart__img {
      max-width: 90%;
      max-height: 90%;
      padding-left: 1.25rem;
    }
    .letsStart__text {
      font-size: 1.3rem;
      padding-left: 0;
      line-height: 1.2;
      margin-top: -45px;
    }
  }