.teachersSearch {
    padding-top: 3.125rem;
    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__input {
        box-sizing: border-box;
        border: 0.0625rem solid #e7dfdf;
        border-radius: 0.1875rem 0rem 0rem 0.1875rem;
        width: 23.75rem;
        padding: 0.625rem;
    }

    &__input::placeholder {
        font-family: "OpenSans";
        font-size: 1rem;
        color: #aea9a9;
    }

    &__submit {
        width: 3.75rem;
        height: 2.5rem;
        background: url("../../../../img_background/search.svg") center no-repeat
            #000000;
        border: none;
        border-radius: 0.1875rem;
        &:hover {
            cursor: pointer;
        }
    }
}
