.learnAndChoose {
  padding-top: 10.625rem;
  padding-left: 2.3125rem;
  padding-right: 2.3125rem;
  padding-bottom: 4.6875rem;
}

.infoTitle {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.625rem;
}

.infoText {
  font-family: "Montserrat";
  font-size: 1.125rem;
  font-weight: 300;
  padding-top: 1.875rem;
}

.infoIcon {
  padding-top: 1.875rem;
  max-width: 25.875rem;
  max-height: 18.8125rem;
}

.infoIconImg {
  width: 100%;
  height: 100%;
}

.learn {
  display: flex;
  justify-content: space-between;

  &__info {
    width: 36%;
  }

  &__card {
    max-width: 64%;
    max-height: 25rem;
    display: block;
    overflow: hidden;
  }

  &__cardImg {
    min-width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.choose {
  display: flex;
  justify-content: center;
  padding-top: 6.25rem;
  margin-left: 3.4375rem;

  &__picture {
    width: 29rem;
    height: 24.0625rem;
    position: relative;
    overflow: hidden;
  }

  &__pictureImg {
    height: 100%;
    position: absolute;
    right: 0;
  }

  &__info {
    width: 57%;
    padding-left: 4.375rem;
    padding-top: 2.5rem;
  }
}

.choose .infoText {
  width: 60%;
  padding-top: 0.9375rem;
}

.choose .infoIcon {
  max-width: 34.375rem;
  max-height: 21.875rem;
  margin-left: -3.125rem;
  margin-top: -5.9375rem;
}

@media all and (max-width: 1200px) {
  .learnAndChoose {
    padding-bottom: 1.5rem;
  }
}

@media all and (max-width: 992px) {
  .learnAndChoose {
    padding-bottom: 0.5rem;
  }
  .infoText {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .choose .infoText {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
}

@media all and (max-width: 768px) {
  .learnAndChoose {
    padding-bottom: 0;
  }
}

@media all and (max-width: 650px) {
  .learnAndChoose {
    display: none;
  }
}
