.topbar {
  box-sizing: border-box;
  padding-top: 32.85vh;
  text-align: center;
}

.topbarWrapper {
  width: 100vw;
  height: 89vh;
  background-image: url("https://i.imgur.com/QQEBCvQ.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.topbar__title {
  font-family: "Mak";
  font-size: 7.5rem;
  font-weight: lighter;
  line-height: 7rem;
}

.topbar__subtitle {
  margin-bottom: 18vh;
  font-family: "OpenSans";
  font-size: 1.625rem;
  font-weight: lighter;
  line-height: 1.25rem;
}

.topbar__input {
  box-sizing: border-box;
  border: 0.0625rem solid #e7dfdf;
  border-radius: 0.1875rem 0rem 0rem 0.1875rem;
  width: 23.75rem;
  padding: 0.625rem;
}

.topbar__input::placeholder {
  font-family: "OpenSans";
  font-size: 1rem;
  color: #aea9a9;
}

.topbar__submit {
  width: 3.75rem;
  height: 2.5rem;
  background: url("../../../../img_background/search.svg") center no-repeat
    #000000;
  border: none;
  border-radius: 0.1875rem;
}

.topbar__form {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 992px) {
  .topbar {
    padding-top: 30vh;
  }
  .topbar__title {
    font-size: 6.5rem;
    line-height: 6rem;
  }
  .topbar__input {
    width: 23.75rem;
  }
  .topbar__subtitle {
    margin-bottom: 20vh;
  }
}

@media all and (max-width: 768px) {
  .topbar {
    padding-top: 27vh;
  }
  .topbar__title {
    font-size: 5.5rem;
    line-height: 6rem;
  }
  .topbar__input {
    width: 22rem;
  }
  .topbar__subtitle {
    margin-bottom: 25vh;
  }
}

@media all and (max-width: 576px) {
  .topbar {
    padding-top: 22vh;
  }
  .topbar__title {
    font-size: 4.2rem;
    line-height: 5rem;
  }
  .topbar__input {
    width: 18rem;
    padding: 0.88rem;
  }
  .topbar__subtitle {
    margin-bottom: 35vh;
  }
  .topbar__submit {
    height: 3rem;
  }
}
