@mixin flex($jc, $ai, $fd, $fw) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

.side_drawer {
  height: 70%;
  box-shadow: 0.0625rem 0px 0.4375rem rgba(0, 0, 0, 0.5);
  position: fixed;
  background-color: rgb(255, 255, 255);
  z-index: 200;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 75vw;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;

  &__list {
    padding-top: 3.75rem;
    padding-bottom: 3.75rem;
    list-style: none;
    height: 100%;
    @include flex(space-between, flex-start, column, nowrap);
  }

  &__item {
    font-family: Montserrat;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.4;
    color: #000000;
  }
}

.side_drawer.open {
  transform: translateX(0);
}

@media (min-width: 48.0625rem) {
  .side_drawer {
    display: none;
  }
}

@media all { 
  .side_drawer__item {
      font-size: calc(18px + (5 + 11 * 0.7) *((100vw - 320px) / 1280)) ;
    }
}

@media (min-width: 500px) {
  .side_drawer {
    max-width: 60vw;
  }
}

@media (min-width: 576px) {
  .side_drawer {
    max-width: 50vw;
    &__item {
      font-size: 22px;
    }
  }
}

