@mixin flex($jc, $ai, $fd, $fw) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

.header {
  padding: 1rem 2.5rem 1rem 2.9375rem;
  height: 11vh;
  width: 100vw;
  @include flex(space-between, center, row, nowrap);

  &_logo {
    margin-left: 0.5rem;
    padding-right: 1.8rem;
    font-family: "Mak";
    font-size: 2.5rem;
    font-weight: 300;
    line-height: 2.2rem;
    box-sizing: border-box;
    height: 30px;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
    @include flex(space-between, center, row, wrap);
  }
  &_icons {
    @include flex(space-between, center, row, nowrap);

    &_items {
      @include flex(space-between, center, row, nowrap);
    }
  }

  &_icon_left {
    margin-right: 4vw;
  }

  &_icon_right {
    margin-left: 1vw;
  }

  &_cart {
    margin-left: 2vw;
    margin-right: 2vw;
  }

  &_localization {
    @include flex(space-between, center, row, nowrap);
  }
}

nav {
  @include flex(space-between, center, row, wrap);
  width: 60vw;
}

.menu {
  &_list {
    @include flex(space-between, center, row, nowrap);
  }
  &_item {
    margin-right: 5vw;
    font-family: "Montserrat";
    font-size: 1rem;
    font-weight: normal;
    text-align: left;
    color: #000000;
    text-transform: uppercase;
  }
}

@media all { 
  .header_logo {
      font-size: calc(30px + (10 + 11 * 0.7) *((100vw - 320px) / 1280));
    }
}

@media (min-width: 769px) {
  .toggle_button {
    display: none;
  }
  
  .header_logo {
    margin-left: 0;
  }
}

@media (max-width: 1200px) {
  .menu_item {
    margin-right: 3.5vw;
  }
}

@media (max-width: 992px) {
  .menu_item {
    margin-right: 2.1vw;
    font-size: 16px;
  }

  nav {
    @include flex(space-between, center, row, wrap);
    width: 65vw;
  }

  .header_logo {
    font-size: 2.1rem;
    padding-right: 0.8rem;
  }
}

@media (max-width: 768px) {
  .navigation_items {
    display: none;
  }

  .header_localization {
    display: none;
  }

  nav {
    width: 55vw;
  }
}

@media (max-width: 576px) {
   .header_icons_items {
    display: none;
  }
}