.main_courses {
  padding-left: 2.3125rem;
  padding-right: 2.3125rem;
}

.mainCourses_buttonWrapper {
  padding-top: 5.0938rem;
  // padding-bottom: 10.6563rem;
  display: flex;
  justify-content: center;
}

@media all and (max-width: 360px) {
  .main_courses {
    padding-left: 1.5625rem;
    padding-right: 1.5625rem;
  }

  .mainCourses_buttonWrapper {
    padding-top: 2.5rem;
  }
  
}
