.introText {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 31.25rem;
    justify-content: center;
    align-items: center;
    margin: 7rem auto 0;
    font-family: 'Montserrat';
    font-weight: 300;
    line-height: 1.4;
}

.introText p {
    margin: 0.625rem;
    ;
}

.mainTechnos {
    padding-left: 2.3125rem;
    padding-right: 2.3125rem;
}

.technoPic {
    display: flex;
    position: relative;
    justify-content: space-between;
    flex-wrap: wrap;
}

.mainCourses_buttonWrapper {
    padding-top: 5.0938rem;
    display: flex;
    justify-content: center;
}