.button {
  &_block {
    width: 13rem;
    height: 3.0625rem;
    border-radius: 0.1875rem;
    border: none;
    background-color: #000000;
    cursor: pointer;
  }

  &_text {
    font-family: "OpenSans";
    font-size: 1.125rem;
    font-weight: 400;
    color: #ffffff;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
}

@media all and (max-width: 35.9375rem) {
  .button_block {
    width: 11.0625rem;
    height: 2.875rem;
  }
  .button_text {
   font-size: 1rem;
  }
}

@media all and (max-width: 768px) {
  .button_block {
    width: 18rem;
    height: 5.5rem;
  }
  .button_text {
    font-size: 1.5rem;
   }
}
