@mixin flex($jc, $ai, $fd, $fw) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-direction: $fd;
  flex-wrap: $fw;
}

.courseCard__wrapper {
  @include flex(space-between, center, row, wrap);
}

.courseCard__component {
  border: solid 0.0625rem #bdd9e4;
  width: 32%;
  margin-bottom: 1.875rem;
}

.courseCard_photo_wrapper {
  position: relative;
  height: 20.5rem;
  display: block;
  overflow: hidden;
}

.courseCard__photo {
  min-width: 100%;
  height: 100%;
  object-fit: cover;
}

.courseCard__info {
  padding: 0.9375rem 1rem 0.8125rem 0.875rem;
}

.courseCard__author_info {
  @include flex(space-between, center, row, wrap);
  font-family: "OpenSans";
  font-size: 0.875rem;
  font-weight: 300;
}

.courseCard__author,
.courseCard__technique {
  color: #7e7a7a;
}

.courseCard__title_info {
  padding-top: 0.8125rem;
  @include flex(space-between, center, row, nowrap);
  font-family: "Montserrat";
  font-size: 1.25rem;
  font-weight: 500;
  color: #000000;
}

.courseCard__cart {
  padding-top: 1rem;
  @include flex(space-between, center, row, wrap);
}

.courseCard__price_number {
  font-family: "OpenSans";
  font-size: 1.375rem;
  font-weight: 600;
  color: #000000;
}

.courseCard_button_block {
  width: 8.4375rem;
  height: 2.6875rem;
  border-radius: 0.1875rem;
  border: none;
  background-color: #000000;
  cursor: pointer;
}

.courseCard_button_text {
  font-family: "OpenSans";
  font-size: 1.125rem;
  font-weight: 600;
  color: #ffffff;
  height: 100%;
  text-transform: uppercase;
  @include flex(center, center, row, wrap);
  text-transform: uppercase;
}

@media all and (max-width: 575px) {
  .courseCard__wrapper {
    @include flex(space-between, center, column, nowrap);
    overflow: hidden;
  }
  .courseCard__component {
    width: 100%;
    margin-bottom: 1.25rem;
  }
  .courseCard__info {
    padding-bottom: 1.625rem;
    cursor: pointer;
  }

  .courseCard__author_info {
    font-size: 0.75rem;
  }

  .courseCard__title_info {
    padding-top: 2.125rem;
  }

  .courseCard_button_block {
    width: 11.1875rem;
    height: 2.875rem;
  }
}

@media all and (max-width: 360px) {
.courseCard_button_block {
  display: none;
}

.courseCard__like_icon {
  display: none;
}

.courseCard__cart {
  padding-top: 0rem;
  display: block;
  text-align: right;
  margin-top: -0.9375rem;
}
}

@media all and (max-width: 768px) {

  .courseCard__component {
    width: 49%;
    margin-bottom: 1.25rem;
  }

  .courseCard__info {
    height: 195px;
    padding: 0.9375rem 1rem 0.8125rem 0.875rem;
    @include flex(space-between, stretch, column, nowrap);
  }
}

@media all and (min-width: 992px) {
  .courseCard__component {
    width: 32%;
  }
}
